{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">
        <i class="bi bi-search"></i>
        Search Files
    </h2>

    <form action="/search" method="get">

        <div class="input-group input-group-lg">

            <input
                class="form-control"
                name="keyword"
                placeholder="ค้นหาชื่อไฟล์ เช่น PDF DXF STEP..."
                autofocus>

            <button
                class="btn btn-primary">

                <i class="bi bi-search"></i>

                Search

            </button>

        </div>

    </form>

</div>

{% endblock %}